.container .main[data-v-0004] {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}

.main[data-v-0004] h4 {
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(100, 100, 100);
    display: flex;
}

.main[data-v-0004] .img {
    text-align: center;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: calc(500px + 4px);
    margin: 0 auto;
    padding: 1px;
}

.main[data-v-0004] img {
    width: 100%;
    justify-content: center;
    max-width: 500px;
    transition: transform 0.5s;
    border-radius: 5px;
}

.main[data-v-0004] .img:hover img {
    transform: scale(1.1);
}