body {
  background-color: #F9FAFF;
}

.is-active {
  color: #2FA5BD !important;
}

.cards {
  display: grid;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-columns: repeat(auto-fill, 300px);
}

.cards a {
  text-decoration: none;
}

/*hack grid*/

.cards::before, .cards::after {
  display: none;
}

.cards .card {
  text-align: center;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
  transition: 0.5s;
}

.cards .card:hover {
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .5);
}

.container .card .card-img {
  padding: 0px;
  transition: 0.2s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.container .card .card-img:hover {
  transform: scale(1.01);
  transition: 0.5s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
  box-shadow: 0 5px 10px rgb(0 0 0 / 50%);
}

.container .card .card-img img {
  max-width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.container .card .description {
  padding: 15px 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-weight: bold;
  font-size: 1.5rem;
  transition: .5s;
}

.container .card .description:hover {
  background-color: #0076A4 !important;
  color: white;
}