body {
  background-color: #c7c7c7;
  padding-top: 150px;
}

.container {
  margin-bottom: 40px;
}

.cards {
  display: grid;
  grid-column-gap: 45px;
  grid-row-gap: 45px;
  grid-template-columns: repeat(auto-fill, minmax(200px, auto));
  justify-content: center;
}

.cards a {
  text-decoration: none;
}

/*hack grid*/

.cards::before, .cards::after {
  display: none;
}

.cards .card {
  text-align: center;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
  max-width: 300px;
  -webkit-backface-visibility: hidden;
  transition: .5s;
}

.cards .card:hover {
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .5);
}

.container .card .card-img {
  padding: 0px;
  transition: 0.2s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-backface-visibility: hidden;
  transition: transform .5s;
  overflow: hidden;
}

.container .card .card-img img {
  max-width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-backface-visibility: hidden;
  transition: transform .5s;
}

.container .card .description {
  padding: 15px 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-weight: bold;
  font-size: 1.5rem;
  transition: .5s;
}

.container .card:hover .description {
  background-color: #212529 !important;
  color: white;
}

.container .card:hover .card-img img {
  transform: scale(1.1);
}