header {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #212529;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .5);
    z-index: 1;
}

header h1 {
    margin-top: 0px;
    white-space: nowrap;
    color: #337ab7;
    font-weight: bold;
}

header .container {
    margin-bottom: 0;
    padding-right: 2px;
    padding-left: 0px;
}